body{
    width: 80%;
}
img{
    padding: 5%;
    width: %;
}
ul{
    position: absolute;
    top: 1px;
    color: rgb(245, 245, 245);
    border:solid;
    border-width: 5px 5px;
    background-color:rgb(0, 0, 0);
    width: 100%;
}
main{
    margin-top: 15%;
}
div{
    margin: 100%;
}
body{
    background-image: url(újháttérkép.jpg);
}
.card{
    margin: 10px;
    width: 10%;
    border: 3px solid black;
    padding: 10px;

}