ul{
    position: absolute;
    top: 1px;
    color: rgb(245, 245, 245);
    border:solid;
    border-width: 5px 5px;
    background-color:rgb(0, 0, 0);
    width: 100%;
}
img{
    width: 20%;
    padding: 5%;
}
div{
    margin: 2%;
}
body{
    background-image: url(újháttérkép.jpg);
}
h1{
    color: white;
    text-shadow: 2px 2px #000000; 
    text-align: center;
    
}
