body{
    width: 60%;
}
ul{
    position: absolute;
    top: 1px;
    color: rgb(245, 245, 245);
    border:solid;
    border-width: 5px 5px;
    background-color:rgb(0, 0, 0);
}
img{
    width: 15%;
}
.egy{
    position: relative;
    left: 10%;
    margin-top: 3%;
}
.ketto{
    position: relative;
    margin-top: -34%;
    left: 40%;
}
.harom{
    position: relative;
    left: 70%;
    margin-top: -34%
}
.negy{
    position: relative;
    left: 95%;
    margin-top: -34%;
}