h1{
    position: relative;
    top: 50px;
}

ul{
    position: absolute;
    top: 1px;
    color: rgb(245, 245, 245);
    border:solid;
    border-width: 5px 5px;
    background-color:rgb(0, 0, 0);
}
div{
    position: absolute;
    top: 180px;
}
img.bükkfa{
    border:solid 5px;
    border-radius:360px;
    border-color: white;
}

body{
    background-image: url(fa/főoldal.jpg);

}
table{
    position: relative;
    top: 400px;
    
    
}
.jobbra{
    position: relative;
    left: 2000%;
    
}
.jobbrakülönc{
    position: relative;
    left: 3818%;
    

}
p{
    color:black;
}
tr{
    background-color: rgb(rgb(12, 5, 112), green, blue);
    height: 40px;

}
table{
    width: 100%;
}
tr:nth-child(even) {
    background-color: #b3a5a5;; }

tr:hover {
   background-color: blue;
}
th{
   background-color: rgb(41, 36, 36);
   color: white;
}
.második{
    background-color: rgb(65, 62, 62);
}

